*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: Arial, Helvetica, sans-serif;
}


img{
	max-width: 100%;
	
}
.header{
	padding-top: 10px;
	height: 80px;
	background-color: #ff6900;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
}
main{
	padding-top: 10px;
}

.container{
	width: 80%;
   margin: 0 auto;
   max-width: 1100px;
   border: 1px solid black;;
	padding: 10px;
	;
}

.col{
	width: calc(100% / 3);
	position: relative;

}

.price{
	color: red;
}
.sostenibilita{
	position: absolute;
	bottom: 150px;
	left: 60px;
	color: white;
	background-color: green;
	padding: 0.5rem;
}

.discount{
	background-color: red;
	color: white ;
	position: absolute;
	bottom: 150px;
	left: 0;
	padding: 0.5rem;
}

.heart{
	height: 35px;
	width: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	position: absolute;
	top: 1rem;
	right: 0;
	background-color: white;
	padding: 15px;
	/* fa attivare la manina andando sopra col mouse */
	cursor: pointer;

}
.heart:hover{
	color: red;
}

.price-discount{
	text-decoration: line-through;
}

.flex{
	display: flex;
	flex-wrap: wrap;
}
/* immagine 1*/
.img1-a{
	display: block;
}
.img-1b{
	display: none;
}
.card:hover .img-1a{
	display: none;
}

.card:hover .img-1b{
	display: block;
}

/* immagine 2 */

.img-2a{
	display: block;
}

.img-2b{
	display: none;
}

.card:hover .img-2a{
	display: none;
}

.card:hover .img-2b{
	display: block;
}

/* immagine 3 */

.img-3a{
	display: block;
}

.img-3b{
	display: none;
}

.card:hover .img-3a {
	display: none;
}

.card:hover .img-3b{
	display: block;
}

/* immagine 4 */

.img-4a{
	display: block;
}
.img-4b{
	display: none;
}

.card:hover .img-4a{
	display: none;
}
.card:hover .img-4b{
	display: block;
}

/* immagine 5 */
.img-5a{
	display: block;
}
.img-5b{
	display: none;
}

.card:hover .img-5a{
	display: none;
}

.card:hover .img-5b{
	display: block;
}

/* immagine6 */
.img-6a{
	display: block;
}
.img-6b{
	display: none;
}
.card:hover .img-6a{
	display: none;
}
.card:hover .img-6b{
	display: block;
}